<h1><{$topicObject->getVar('topic_title')}> <{$smarty.const._MD_NEWSRELEASE}></h1>
<{if $userObject}>
	<h2><{$userObject->getShow('uname')|xoops_escape}> News</h2>
<{/if}>
<{* if $topic_title}> - <{$topic_title}><{else}> - <{$smarty.const._MD_ALLTOPIC}><{/if *}>


<div class="bs-docs-example">
<ul class="nav nav-pills">
<{foreach item=topic from=$topicArray}>
	<li class="<{if $topic[$topic_id]}>active <{/if}><{if $topic.child}>dropdown <{/if}>">
	<{if $topic.child}>
		<a href="#" data-toggle="dropdown" role="button" id="drop<{$topic.topic_id}>" class="dropdown-toggle"><{$topic.topic_title}><b class="caret"></b></a>
		<ul aria-labelledby="drop<{$topic.topic_id}>" role="menu" class="dropdown-menu" id="menu<{$topic.topic_id}>">
			<{foreach item=child from=$topic.child}>
			<li role="presentation"><a href="<{$xoops_url}>/modules/news/app/news.php?topicid=<{$child.topic_id}>" tabindex="-1" role="menuitem"><{$child.topic_title}></a></li>
			<{/foreach}>
		</ul>
	<{else}>
	<a class="label" href="<{$xoops_url}>/modules/news/app/news.php?topicid=<{$topic.topic_id}>">
		<{$topic.topic_title}>
	</a>
	<{/if}>
	</li>
<{/foreach}>
</ul> <!-- /tabs -->
</div>


<ul>
	<{foreach item=story from=$storyObjects}>
	<li>
		<a href="<{$xoops_url}>/modules/news/app/article.php?storyid=<{$story->getVar('storyid')}>">
			<{$story->getVar('published')|date_format:"%G-%m-%d"}>: <{$story->getVar('title')}>
		</a>
	</li>
	<{/foreach}>
</ul>


<div id="news-wrapper">
	<{if $displaynav == true}>
	<div class="news-nav">
		<div id="news-switch">
			<span><{$smarty.const._MD_NEWARRIVAL}></span> | <a href="archive.php" target="_top"><{$smarty.const._MD_ARCHIVE}></a>
		</div>
		<form name="form1" action="<{$xoops_url}>/modules/news/index.php" method="get">
			<{$smarty.const._MD_SELECTTOPIC}>
			<{$topic_select}> 
			<select name="storynum"><{$storynum_options}></select>
			<input type="submit" value="<{$smarty.const._MD_SELECT}>" class="formButton" />
		</form>
	</div>
	<{/if}>
	<div id="news-list">
		<ol>
		<{section name=i loop=$columns}>
		<{foreach item=story from=$columns[i]}>
			<li>
				<h2><span class="news-index-date"><{$story.posttime}></span> - <{$story.title}></h2>
				<p><{$story.text}> <{$story.morelink}> <{$story.adminlink}></p>
			</li>
			<{if $story.poster != ''}>
				<div class="itemInfo">
				<{if $story.files_attached}><{$story.attached_link}>&nbsp;<{/if}>
				<span class="itemPoster"><{$lang_postedby}> <{$story.poster}></span>
				<span class="itemPostDate"><{$lang_on}> <{$story.posttime}></span> (<span class="itemStats"><{$story.hits}> <{$lang_reads}></span>) 
				<{$news_by_the_same_author_link}>
				</div>
			<{/if}>
		<{/foreach}>
		<{/section}>
		</ol>
	</div>
	<div class="news-nav">
		<{$pagenav}>
	</div>
</div>
<{include file='db:system_notification_select.html'}>
