<h1><{$smarty.const._MD_SUBMITNEWS}></h1>
<form action="?action=submit" method="post" enctype="multipart/form-data">
	<{xoops_token form=$actionForm}>
	<{xoops_input type=hidden name=storyid value=$actionForm->get('storyid')}>
	<table class="table">
		<tr>
			<th colspan="2">
				<{if $actionForm->get('storyid') }>
					<{$actionForm->get('uid')}>
				<{else}>
					<{$smarty.const._MD_POSTNEWARTICLE}>
				<{/if}>
			</th>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._MD_TOPIC}></td>
			<td class="<{cycle values='odd,even'}>">
			<{html_options name=topicid options=$topicOptions selected=$actionForm->get('topicid')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._MD_TITLE}></td>
			<td class="<{cycle values='odd,even'}>">
			<{xoops_input type=text name=title value=$actionForm->get('title')}>
			</td>
		</tr>
		<tr>
			<td colspan="2"><{$smarty.const._MD_INTROTEXT}><br />
			<{xoops_dhtmltarea name=hometext value=$actionForm->get('hometext')}>
			</td>
		</tr>
		<tr>
			<td colspan="2"><{$smarty.const._MD_EXTEXT}><br />
			<{xoops_dhtmltarea name=bodytext value=$actionForm->get('bodytext')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._MD_NEWS_ATTACHFILE}></td>
			<td class="<{cycle values='odd,even'}>">
				<{if $filesObjects}>
				<{foreach item=filesObject from=$filesObjects }>
				<{if $filesObject->getShow('downloadname')}>
				<a href="<{$xoops_url}>/modules/news/download.php?url=<{$filesObject->getShow('downloadname')}>&filename=<{$filesObject->getShow('filerealname')}>">
					<i class="icon-download"></i>
					<{$filesObject->getShow('downloadname')}>
				</a>
				&nbsp;
				<a href="<{$xoops_url}>/modules/news/DeleteAttached.php?fileid=<{$filesObject->getShow('fileid')}>">
					<i class="icon-trash"></i>
				</a><br />
				<{/if}>
				<{/foreach}>
				<{/if}>
				<input type="file" name="downloadname" size="50">
			</td>
		</tr>
		<{if $approve && $actionForm->get('topicid')}>
		<tr>
			<td class="head"><{$smarty.const._MD_PUBLISHED}></td>
			<td class="<{cycle values='odd,even'}>">
			<{xoops_input type=text name=published value=$actionForm->get('published') class='datepicker'}>
			</td>
		</tr>
		<{else}>
			<{xoops_input type=hidden name=published value=0}>
		<{/if}>
		<tr>
			<td class="head"><{$smarty.const._MD_EXPIRED}></td>
			<td class="<{cycle values='odd,even'}>">
			<{xoops_input type=text name=expired value=$actionForm->get('expired') class='datepicker'}>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="foot">
				<a class="btn" href="<{$xoops_url}>/modules/news/index.php?action=article&storyid=<{$actionForm->get('storyid')}>"><{$smarty.const._MD_NEWS_VIEW_STORY}></a>
				<input class="btn btn-primary" type="submit" name="StoryEdit" value="<{$smarty.const._MD_NEWS_SAVE_STORY}>"/>
			</td>
		</tr>
	</table>
</form>

<div id="news-wrapper">
	<h1><{$lang_pagetitle}><{if $action == "preview"}> (<{$lang_pagesubtitle}>)<{/if}></h1>
	<div class="news-nav">
		<div id="news-switch">
			<a href="index.php" target="_top"><{$smarty.const._MD_NEWARRIVAL}></a> | <a href="archive.php" target="_top"><{$smarty.const._MD_ARCHIVE}></a>
		</div>
	</div>
	<div id="news-submit-ui">
		<{if $action == "preview"}>
		<div id="news-preview-article">
			<blockquote>
				<p id="news-preview-article-title"><{$preview_title}></p>
				<p id="news-preview-article-hometext"><{$preview_hometext}></p>
				<p id="news-preview-article-bodytext"><{$preview_bodytext}></p>
			</blockquote>
		</div>
		<{/if}>
		<{$formset}>
	</div>
</div>
