<div class="adminnavi">
	<a href="./index.php"><{$smarty.const._MI_NEWS_NAME}></a>
	&raquo;&raquo; <a href="./index.php?action=AttachList"><{$smarty.const._AD_NEWS_ATTACHE_LIST}></a>
	&raquo;&raquo; <span class="adminnaviTitle"><{$smarty.const._AD_NEWS_ATTACHE_DELETE}></span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_NEWS_IMAGE_DELETE}> (<{$object->get('storyid')}>)</h3>
<{*
<div class="confirm"><{$smarty.const._AD_NEWS_IMAGE_DELETE_ADVICE}></div>
*}>
<{if $actionForm->hasError()}>
<div class="error">
	<ul>
		<{foreach item=message from=$actionForm->getErrorMessages()}>
		<li><{$message|xoops_escape}></li>
		<{/foreach}>
	</ul>
</div>
<{/if}>

<form action="?action=AttachDelete" method="post">
	<{xoops_token form=$actionForm}>
	<{xoops_input type=hidden name=fileid value=$object->get('fileid')}>
	<{xoops_input type=hidden name=storyid value=$object->get('storyid')}>
	<table class="outer">
		<tr>
			<td class="head"><{$smarty.const._AD_NEWS_ATTACHE_ID}></td>
			<td class="<{cycle values='odd,even'}>"><{$object->get('fileid')}></td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_NEWS_STORY_ID}></td>
			<td class="<{cycle values='odd,even'}>"><{$object->get('storyid')}></td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_NEWS_MIME}></td>
			<td class="<{cycle values='odd,even'}>">
				<{$object->getShow('mimetype')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_NEWS_REALNAME}></td>
			<td class="<{cycle values='odd,even'}>">
			<{$object->getShow('filerealname')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_NEWS_DOWNLOADNAME}></td>
			<td class="<{cycle values='odd,even'}>">
			<{$object->getShow('downloadname')}>
			</td>
		</tr>

		<tr>
			<td colspan="2" class="foot">
				<input class="formButton" type="submit" value="<{$smarty.const._DELETE}>"/>
				<input class="formButton" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel"/>
			</td>
		</tr>
	</table>
</form>
