<div class="adminnavi">
	<a href="./index.php"><{$smarty.const._MI_NEWS_NAME}></a>
	&raquo;&raquo; <a href="./index.php?action=AttachList"><{$smarty.const._AD_NEWS_ATTACHE_LIST}></a>
	&raquo;&raquo; <span class="adminnaviTitle"><{$smarty.const._AD_NEWS_ATTACHE_NEW}></span>
</div>

<{if $actionForm->get('storyid') }>
<h3 class="admintitle"><{$smarty.const._AD_NEWS_IMAGE_EDIT}> (<{$actionForm->get('filerealname')}>)</h3>
<{else}>
<h3 class="admintitle"><{$smarty.const._AD_NEWS_IMAGE_NEW}></h3>
<{/if}>

<{if $actionForm->hasError()}>
<div class="error">
	<ul>
		<{foreach item=message from=$actionForm->getErrorMessages()}>
		<li><{$message|xoops_escape}></li>
		<{/foreach}>
	</ul>
</div>
<{/if}>

<form action="?action=AttachEdit" method="post" enctype="multipart/form-data">
	<{xoops_token form=$actionForm}>
	<{xoops_input type=hidden name=storyid value=$actionForm->get('storyid')}>
	<table class="outer">
		<tr>
			<td class="head"><{$smarty.const._AD_NEWS_STORY_ID}></td>
			<td class="<{cycle values='odd,even'}>">
			<{if $actionForm->get('storyid')}>
				<{xoops_input type=hidden name=storyid value=$actionForm->get('storyid')}>
				<{$actionForm->get('storyid')}>
			<{else}>
				<{html_options name=storyid options=$storyOptions selected=$actionForm->get('storyid')}>
			<{/if}>
			</td>
		</tr>

		<tr>
			<td class="head"><{$smarty.const._AD_NEWS_ATTACHFILE}></td>
			<td class="<{cycle values='odd,even'}>">
			<input type="file" name="downloadname" size="50">
			</td>
		</tr>

		<tr>
			<td colspan="2" class="foot">
				<input class="formButton" type="submit" value="<{$smarty.const._SUBMIT}>"/>
				<input class="formButton" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel"/>
			</td>
		</tr>
	</table>
</form>
