<div class="adminnavi">
	<a href="./index.php"><{$smarty.const._MI_NEWS_NAME}></a>
	&raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=TopicList"><{$smarty.const._MI_NEWS_GROUPPERMS}></a></span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_NEWS_TOPIC_LIST}></h3>
<{*
<div class="tips"><{$smarty.const._AD_NEWS_TIPS_STORY_EDIT}></div>
*}>
		
<p>
<div class="btn-group" data-toggle="buttons-radio">
<a class="btn<{if $permNumber==1}> btn-info<{/if}>" href="?action=GroupPermList&amp;permNumber=1"><{$smarty.const._AD_APPROVEFORM}></a>
<a class="btn<{if $permNumber==2}> btn-info<{/if}>" href="?action=GroupPermList&amp;permNumber=2"><{$smarty.const._AD_SUBMITFORM}></a>
<a class="btn<{if $permNumber==3}> btn-info<{/if}>" href="?action=GroupPermList&amp;permNumber=3"><{$smarty.const._AD_VIEWFORM}></a>
</div>
</p>

<form action="?action=groupPerm" method="post">
	<{xoops_token form=$actionForm}>
	<{xoops_input type=hidden name=permNumber value=$permNumber}>

<table class="table">
	<tr>
		<th><{$smarty.const._AD_GROUP_TITLE}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ITEM_SORT_KEY_UPDATE}>"><i class="icon-up"></i></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ITEM_SORT_KEY_UPDATE}>"><i class="icon-down"></i></a>
		</th>
		<th><{$smarty.const._AD_TOPIC_ID}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ITEM_SORT_KEY_gperm}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ITEM_SORT_KEY_gperm}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
		</th>
	</tr>
	<{* foreach item=topic_ids key=group_id from=$gPermArray *}>
	<{foreach item=group_name key=group_id from=$groupArray}>
	<tr">
		<!-- gid,gname,permission name -->
		<td>
			(<{$group_id}>)<{$group_name}>
		</td>
		<td>
			<{foreach item=object from=$topicObjects}>
				<{assign var=topicId value=$object->getShow('topic_id')}>
				<{xoops_input type=checkbox name=topic_ids[$group_id][] value=1 default=$gPermArray[$group_id][$topicId]}>
				<{$topicArray[$topicId]}>
			<{/foreach}>
		</td>
	</tr>
	<{/foreach}>
</table>
<input class="btn btn-primary" type="submit" value="<{$smarty.const.UPDATE}>"/>
</form>
